.header {
    display: flex;
    margin: 10px;
    padding: 10px;

}

.header img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-top: 20px;
    margin-right: 15px;
}

.title {
    color: #10ac84;
}

.conatiner {
    margin: 0 0 0 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.cart-conatiner {
    background-color: #dfe4ea;
    padding: 30px 50px;
    border-radius: 10px;


}

.main-activity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    /* box-shadow: 2px 2px 4px gray; */
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 5px;
}

.info {
    background-color: bisque;
    padding: 10px 5px;
    border-radius: 10px;
    display: flex;
}

.my-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.break-button {
    display: flex;
    justify-content: space-around;
}

.btn-break {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #1dd1a1;
    border: none;
    color: white;
}

.study-details {
    display: flex;
    flex-direction: column;
}

.study-time {
    margin-bottom: 15px;
    background-color: lightcyan;
    padding: 15px 25px;
    margin-top: 10px;
    border-radius: 10px;
}

.activity-button {
    margin-top: 40px;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    background-color: #1dd1a1;
    font-size: 15px;
    border: none;
}

@media only screen and (max-width:688px) {
    .main-activity {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}